<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="com.aowin.dao.LeaderMapper">
	<!-- 添加队长信息 -->
	<insert id="addLeader" parameterType="com.aowin.model.Leader">
		insert into allin_team_leader1
		(leadername,leaderphone,leadergender,leaderrole,leadergameid,leaderidcard)
		values (#{leadername},#{leaderphone},#{leadergender},#{leaderrole},#{leadergameid},#{leaderidcard})
	</insert>
	
	<!-- count为1则返回true，0返回false  查看该队长手机是否已存在-->
	<select id="haveLeaderPhone" parameterType="string" resultType="boolean">
        select count(leaderid) from allin_team_leader1 where leaderphone = #{leaderphone}
    </select> 
    
    
    <!-- 根据队长电话号码查询队长信息，返回Leader类 -->
    <select id="LeaderMsg" parameterType="string" resultType="com.aowin.model.Leader">
    	select * from allin_team_leader1 where Leaderphone=#{leaderphone}
    </select>
    
    <!-- 修改（更新）队长信息  不能修改手机号-->
    <update id="modifyLeaderMsg" parameterType="boolean">
    	UPDATE allin_team_leader1 SET leadername=#{leadername},leadergender=#{leadergender},leadergameid=#{leadergameid},leaderidcard=#{leaderidcard},leaderrole=#{leaderrole} WHERE leaderphone=#{leaderphone}
    </update>
    
    <!-- 修改队长手机号码 -->
     <update id="modifyleaderPhone" parameterType="java.lang.Integer">
    	UPDATE allin_team_leader1 SET leaderphone=#{leaderphone} WHERE leaderid=#{leaderid}
    </update>
    
    <!-- 根据队长手机号查找内置的队长id -->
    <select id="selectleaderId"  parameterType="String" resultType="java.lang.Integer">
    	select leaderid from allin_team_leader1 WHERE leaderphone=#{leaderphone}
    </select>
</mapper>
