<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="com.aowin.dao.MemberMapper">
	<!-- 添加战队成员 -->
	<insert id="addMember" parameterType="com.aowin.model.Member">
		insert into allin_team_member1
		(memberphone,membername,membergameid,membergender,memberidcard,memberrole)
		values (#memberphone},#{membername},#{membergameid},#{membergender},#{memberidcard},#{memberrole})
	</insert>
	
	<!--查询战队成员电话号码是否重复
	 count为1则返回true，0返回false -->
	<select id="haveMPhone" parameterType="string" resultType="boolean">
        select count(memberphone) from allin_team_member1 where memberphone = #{memberphone}
    </select> 
    
    <!-- 查询战队成员信息 -->
    <select id="memberMsg" parameterType="string" resultType="com.aowin.model.Member">
    	select * from allin_team_table1 where memberphone=#{memberphone}
    </select>
    
    <!-- 修改战队成员信息 -->
    <update id=" modifyMMsg" parameterType="com.aowin.model.Member">
    	UPDATE allin_team_member1 SET membername=#{membername},teamname=#{teamname},coachname=#{coachname},teammember1_name=#{teammember1_name},teammember1_phone=#{teammember1_phone},teammember1_gameid=#{teammember1_gameid},teammember2_name=#{teammember2_name},teammember2_phone=#{teammember2_phone},teammember2_gameid=#{teammember2_gameid},teammember3_name=#{teammember3_name},teammember3_phone=#{teammember3_phone},teammember3_gameid=#{teammember3_gameid},teammember4_name=#{teammember4_name},teammember4_phone=#{teammember4_phone},teammember4_gameid=#{teammember4_gameid} WHERE memberphone=#{memberphone}
    </update>
	
	<!--  删除战队信息-->
	<delete id="delMMsg" parameterType="string">
        delete from allin_team_member1 where memberphone=#{memberphone}
    </delete>
	
	<!-- 根据战队成员手机号查找所在战队id -->
	<select id="mphoneST" parameterType="string" resultType="java.lang.Integer">
		select teamid from allin_team_member1 where memberphone=#{memberphone}
	</select>
	
    
	<!-- 根据战队内置id 查找出同个队伍的所有成员list -->
	<select id="queryAllMembers"  parameterType="java.lang.Integer" resultType="com.aowin.model.Member">
		select * from allin_team_member1 where teamid=#{teamid}
	</select>
	
</mapper>
