<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="com.aowin.dao.UserMapper">
	<!-- 添加用户信息 -->
	<insert id="addUser" parameterType="com.aowin.model.User">
		insert into allin_user
		(password,userphone)
		values (#{password},#{userphone})
	</insert>
	
	<!-- count为1则返回true，0返回false  查看该手机是否已存在-->
	<select id="havePhone" parameterType="string" resultType="boolean">
        select count(userid) from allin_user where userphone = #{userphone}
    </select> 
    
    <!-- 查询身份证是否重复 -->
    <select id="havaIdcard" parameterType="string" resultType="boolean">
    	  select count(userid) from allin_user where  useridcard = #{ useridcard}
    </select>
    
    <!-- 用户登录  传入参数:0电话号码，1密码 -->
    <select id="userLogin"  resultType="boolean">
    	select count(*) from allin_user where userphone = #{0} and password=#{1}
    </select>
    
    <!-- 根据电话号码查询用户信息，返回USER类 -->
    <select id="userMsg" parameterType="string" resultType="com.aowin.model.User">
    	select * from allin_user where userphone=#{userphone}
    </select>
    
    <!-- 修改（更新）用户信息  不能修改手机号-->
    <update id="modifyuserMsg" parameterType="com.aowin.model.User">
    	UPDATE allin_user SET username=#{username},gender=#{gender},usergameid=#{usergameid},useridcard=#{useridcard},userrole=#{userrole} WHERE userphone=#{userphone}
    </update>
    
    <!-- 修改用户手机号码 -->
     <update id="modifyuserPhone" parameterType="java.lang.Integer">
    	UPDATE allin_user SET userphone=#{userphone} WHERE userid=#{userid}
    </update>
    
    <!-- 根据手机号查找内置的用户id -->
    <select id="selectuserId"  parameterType="String" resultType="java.lang.Integer">
    	select userid from allin_user WHERE userphone=#{userphone}
    </select>
    
    <!-- 用户报名参加比赛 -->
    <update id="enterForGame" parameterType="String">
    	UPDATE allin_user SET situation=1 WHERE userphone=#{userphone}
    </update>
    
    <!-- 用户参加战队 -->
     <update id="userJoinTeam" parameterType="com.aowin.model.User">
    	UPDATE allin_user SET teamname=#{teamname} WHERE userphone=#{userphone}
    </update>
</mapper>
